body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("img/comfy-christmas.gif");
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    text-align: center;
    position: relative;
    z-index: 1;
}

#greeting {
    font-size: 2em;
    color: #FFD700; /* Gold color */
    text-shadow: 2px 2px 4px #000000;
    margin-top: 20px;
}

#questionsContainer {
    margin-top: 5px;
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
}

body .content .question {
    font-size: 1.5em;
    margin-top: 20px;
}

#insertBlock {
    margin-top: 20px;
}

#userInput {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}

button {
    padding: 10px;
    background-color: #FF4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#errorBlock {
    color: #FF0000; /* Red color */
    display: none;
    margin-top: 10px;
    font-size: 1em;
}

#toggleMusicBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FF4500; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.certContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gifsContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mediaContainer {
    position: relative;
}

.surrounding-gif {
    position: absolute;
    width: 200px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
}

.giftop-left {
    top: -100px; /* Adjust the negative top value to move it outside the container */
    left: -300px; /* Adjust the negative left value to move it outside the container */
}

.giftop-right {
    top: -100px;
    right: -300px;
}

.gifbottom-left {
    bottom: -100px;
    left: -300px;
}

.gifbottom-right {
    bottom: -100px;
    right: -300px;
}